@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Jua&family=Monoton&family=Syncopate:wght@700&family=Ubuntu&display=swap');
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background-color: rgb(44,44,44); 
  /* background-image: url("https://cdn.wallpapersafari.com/88/27/HbqO2J.jpg");  */ 
  /* background-image: url("https://img.wallpapersafari.com/desktop/1680/1050/64/40/wxHj7Z.png");  */
  /* background-image: url("https://img.wallpapersafari.com/desktop/1536/864/13/31/YdpIHu.jpg"); */
  background-repeat: no-repeat;
  background-size: cover; 
  z-index: -1;  
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.appLogo{ 
  font-family: 'Syncopate', sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 200px;
  text-shadow: -1px 1px 0 #000,
        4px 4px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}


.nav{
/* background: rgb(2,0,36); */
/* background: linear-gradient(10deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */ 
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
} 

.nav a:hover {
  background-color: #111; 
  color: white;
} 


.nav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


#loggedout{
  content: ' ';
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background:url('../public/bg.jpeg');
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;
  z-index: -1;
} 

.hobbyIndexImg{ 
  width: 250px; 
  height: 10em; 
  margin: 0 auto; 
  border-radius: 4%;
} 

.HobbyItem{ 
  width :max-content; 
  margin-top: 0.5em; 
  align-items: center;   
  /* padding:1em;  */
  /* background-image: linear-gradient(deepskyblue, rgb(21, 84, 105)); */
  border-radius: 4%;
  box-shadow: 1px 2px 10px grey; 
  transform: translateX(120px);
}   

.HobbyItem .name {
  z-index: 999;
  left: 20%;
  right: 0;       
  top: 0%; 
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-shadow: -1px 1px 0 rgb(29, 23, 23),
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
  width: 60%;  
} 


.hobbyList{ 
  display: inline-flex; 
  align-items: center;
  margin: 1em; 
} 

a{ 
  text-decoration: none; 
  color:black
}  

.title { 
  /* font-family: 'Monoton', cursive; */ 
  /* font-family: 'Fugaz One', cursive;  */
  font-family: 'Syncopate', sans-serif;
  font-size: 67px;
  text-align: center;   
  color: #d6ebff;   
  transform: translateY(20px);
  /* text-shadow: -1px 1px 0 #000,
  1px 1px 0 yellow,
  1px 1px 0 rgb(43, 29, 240),
  1px 1px 0 rgb(43, 29, 240); */
} 

#username{ 
  color:blue
} 

.hobbyTitleCard{ 
  width :min-content; 
  margin-top: 0.5em; 
  align-items: center;  
  padding:1em; 
  margin: 0 auto;  
}  

.hobbyTitleCard .title{
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;        
  text-align: center;
  top: 10%; 
  color: rgb(255, 255, 255);
  font-size: 65px;
  text-shadow: -1px 1px 0 #000,
        4px 4px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
  width: 60%;  
  margin: 0 auto;
}

.hobbyDetailImg{ 
  width: 500px; 
  align-items: center; 
  border-radius: 4%; 
  /* border: 2px solid yellow; */
  box-shadow: 0px 0.5px 8px 1px rgb(214, 214, 214); 
}  


.createBtn{ 
  background: #1d92ff;
  width: 180px;
  height: 60px;
  cursor: pointer;
  border: 1px solid #1d92ff;
  outline: none;
  margin-left: 550px; 
  font-size: 30px; 
}

.createBtn:hover {
  transition: 0.3s ease-in-out;
  background-color: white ; 
  color: rgb(66, 66, 66); 
  border: 1px solid white;
}

.createBtn span {
  color: white;
  font-size: 30px;
}

.createNewBtn{ 
  background: #1d92ff;
  width: 180px;
  height: 60px;
  cursor: pointer;
  border: 1px solid #1d92ff;
  outline: none;
  font-size: 30px; 
  border-radius: 7%; 
  margin-top: 1em; 
  transform: translateX(70px); 
}

.createNewBtn:hover {
  transition: 0.3s ease-in-out;
  background-color: white ; 
  color: rgb(27, 27, 27); 
  border: 1px solid white;
}

.hobbyBtns{ 
  margin: 5px;
} 

/* nav .float-right{ 
  float: right;
} */ 

.eventsHeading{ 
  color: white; 
  font-family: 'Syncopate', sans-serif; 
  margin-top: 1em;
  /* text-align: center; */ 
  transform: translateX(60px);
}

.eventItem{ 
  border: 1px solid black ;
  background-color: white;
  box-shadow: 4px 4px 10px grey; 
  width:fit-content; 
  padding: 1em;  
    margin: 1em; 
    border-radius: 2%; 
    box-shadow: 0px 0.5px 8px 1px rgb(214, 214, 214);
    }  


  .eventTitle{ 
    text-transform: uppercase;
  }

  .eventsInHobbyDetail{ 
    display: inline-flex;
    align-items: center;  
    justify-items: center;
  }